
body {
  background: linear-gradient(35deg,darkmagenta, indianred,pink );
  color: indianred;
}

#colors{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}


.wrapperdiv{
display: flex;
flex-flow: row wrap;
justify-content: space-around;
/* background-color:beige; */

border: 2px double black;
border-radius: 5px;
box-shadow: 3px 3px 3px black;

}

.randomstring{
  margin: auto;
  font-size: xx-small;
  border-radius: 5px;
  border: 6px inset wheat;
}

p{
  /* text-shadow: 1.5px 1.2px red; */
  /* font-weight: bolder; */
  /* display: none; */
  /* font-size: 10px; */
  color: red;
  opacity: .8;
}