
body {
  background-color: rgba(20, 100, 220,.8)
}


#colors{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.wrapperdiv{
display: flex;
flex-flow: row wrap;
justify-content: space-around;
/* background-color:beige; */
/* margin: 2px;
padding: 2px; */
border: 2px solid black;
border-radius: 3px;
box-shadow: 3px 3px 3px black;

}

.randomstring{
  /* margin: auto; */
  margin: 1px;
  font-size: x-small;

}