h1 {
  color: rebeccapurple;
}


#container {
  display: flex;
  background-color: aliceblue;
  flex-wrap: wrap;
}

.parallelogram{
  /* color: aquamarine; */
  /* width : 100px;
  height : 50px; */
  /* transform: translate(); */
  border-radius: 50%;
  /* transform: rotate3d(1, 1.5, 1.5, 45deg); */
  box-shadow: 15px 10px 10px wheat;
}